<th:block th:fragment="headFragment">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Travel</title>
    
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="/vendors/material-icons/css/material_icons.css">
    
    <!--/* swiper */-->
    <link rel="stylesheet" href="/vendors/swiper/swiper-bundle.min.css"/>
    
    <!--/* quill */-->
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
</th:block>