<script src="/vendors/jquery-3.6.3/jquery-3.6.3.min.js"></script>

<script src="/vendors/popper/popper.min.js"></script>
<script src="/vendors/bootstrap5.1.3/js/bootstrap.min.js"></script>

<!--/* swiper */-->
<script src="/vendors/swiper/swiper-bundle.min.js"></script>
<script src="/vendors/swiper/swiper-element-bundle.min.js"></script>

<!--/* gsap */-->
<script src="/vendors/gsap/gsap.min.js"></script>
<script src="/vendors/gsap/ScrollTrigger.min.js"></script>

<!--/* quill */-->
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>