.accordion {

	.accordion-button {
		cursor: pointer;
		box-shadow: none;
	}

	& > li {
		flex-direction: column!important;
		padding: 0!important;
		line-height: $line-height-lg;
	}

	.accordion-button {
		padding: 1rem 5px;
	}

	.accordion-body {
		padding: 0 0 15px 5px;
		color: $subtext-color;
		border-top: 1px dashed $border-color;
	}

	.title {
		.badge {
			position: relative;
			top: -3px;
			margin-right: 5px;
		}
	}

	.accordion-comment {
		padding: 15px 20px;
		background-color: $gray-100;
		width: 100%;
		margin-top: 20px;
		line-height: $line-height-lg;
		background-color: $mist;

		.accordion-title {border-top: 0; padding-top: 0;}
	}

	&.inside-col {
		border-top: 1px dotted #6c757d;

		& > li {
			border-bottom-color: #eee;
		}

		.title {
			font-size: $font-size-md;
			margin-bottom: 5px;
		}

		.list-info {
			font-size: $font-size-sm;
			color: #888;
		}

		.accordion-button {
			padding: .75rem .5rem;

			&::after {
				@include define-size(1rem);
				background-size: 1rem;
			}
		}

		.list-num {
			position: relative;
			top: -15px;
			text-align: center;
			padding-right: 1rem;
		}

		.accordion-body {
			margin-left: $list-row-number-width + .35;
			font-size: $font-size-base;
			padding: .75rem 0 1rem;
			border-top: 1px dashed $border-color;
		}

		.attach-box {
			margin-bottom: 0;
			padding: .5rem 1rem;
			font-size: $font-size-sm;

			li:not(:last-child) {
				margin-bottom: 3px;
				padding-bottom: 3px;
			}
		}
	}
}

.accordion-collapse {
	width: 100%;
}



.accordion-title {
	display: block;
	padding-top: 15px;
	color: $secondary;
}