// @ description: setting card list style

.card-vertical {
    border: 1px solid $border-color;
    padding: 1.5rem;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    @include hover-focus-active {
        border-color: $primary;

        .card-title {
            color: $primary;
        }
    }

    .badge {
        margin-bottom: 10px;
    }

    .card-title {
        font-size: $font-size-md;
        font-weight: $font-weight-regular;
        font-family: $font-hero-name;
        line-height: $line-height-md;
        @include ellipsis((3*$line-height-md), 3);
    }

    .card-foot {
        font-size: $font-size-sm;
        color: $grey;
    }

    &.off {
        background-color: rgba($gray-100, .75);
    }

    .btn-attach {
        position: absolute;
        right: 5px;
        top: 5px;
        padding: 0;

        svg {
            fill: $neutral;
            @include define-size(35px);
            top: 0;
        }

        @include hover-focus-active {
            svg {
                fill: $primary;
            }
        }
    }

}
