.process-diagram {
  display: flex;
  flex-wrap: nowrap;

  li {
    list-style: none;
    margin: 0 auto; 

    &:not(:last-child) .circle::after,
    &:not(:last-child) .square::after {
        @include pseudo-element;
        @include define-size(38px, 17px);
        background-size: contain;
        background-image: url("/resources/asset/images/arrow_dia.png");
        background-repeat: no-repeat;
        position: absolute;
        right: -40px;
        top: 50%;
        transform: translateY(-50%);
     }

     &:not(:last-child) .square::after {
      background-image: url("/resources/asset/images/arrow_dia_primary.png");
     }
  }
  
  &.num-5 > li {
      width: calc(20% - 15px);
  }
  &.num-4 > li {
    width: calc(25% - 15px);

    .circle img {
      width: 55px;
    }
  }

  &.num-3 > li {
    width: calc(33.3333% - 15px);
}

  .circle {
    @include define-size(100%); 
    border: 1px solid $border-color;
    box-shadow: 3px 3px 5px rgba($black, .05);
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    z-index: -1;
    position: relative;
    flex-direction: column;
    position: relative;

    img {
        width: 80px;
    }
  }

  .square {
    @include define-size(100%);
    border: 1px solid $border-color;
    box-shadow: 3px 3px 5px rgba($black, .05);
    aspect-ratio: 3/1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    flex-direction: column;
    position: relative;
    border-radius: 10px;

    .num {
      color: $secondary;
      opacity: .25;
      font-weight: $font-weight-bold;
      font-size: $font-size-md;
      position: absolute;
      left: 25px;
      top: 10px;
      font-family: $font-hero-name;
    }

    &.large {
      padding: 30px 40px 35px;
      justify-content: start;

      .num {
        left: 20px;
      }

      .diagram-refer {
        min-height: 115px;
        word-break: keep-all;

        .refer-sm {
          margin-top: 5px;
          line-height: $line-height-md;
        }
      }
    }

  }

  &.vertical {
    flex-direction: column;
    width: 90%;

    & > li {
      width: 100%;
      margin-bottom: 40px;

      .num { left: 15px; }

      .square { 
        aspect-ratio: auto; 
        min-height: 100px;
        padding: 30px 30px 30px;

        .text-badge {
          position: absolute;
          right: 14px;
          top: 8px;
          font-size: 13px;
          font-family: $font-hero-name;

          &.bottom {
            top: auto;
            bottom: 8px;
          }
        }
      }
      &:not(:last-child) .square::after {
        @include define-size(15px, 30px);
        right: 50%;
        top: auto;
        right: auto;
        left: 50%;
        bottom: -32px;
        z-index: 1;
        transform: translateX(-50%);
        background-image: url("/resources/asset/images/arrow_dia_primary_vertical.png");
      }
    }
  }
}

.diagram-refer {
  color: $text-color;
  line-height: 1.5em;

   .refer-sm {
    font-size: .95rem;
    color: $subtext-color;
    font-weight: $font-weight-regular;
  }
}

.circle-refer {
  margin-top: 15px;
  text-align: center;
  font-size: $font-size-base;
  color: $text-color;
  line-height: $line-height-md;
}

.list-diagram-desc {
  list-style: none;
  .item {
    border: 1px solid $border-color;
    padding: 15px 15px 15px 20px;
    background-color: $white;
    border-radius: 8px;
    position: relative; 
    display: flex;
    align-items: center;
    color: $text-color;
    line-height: $line-height-md;
    box-shadow:  2px 3px 5px rgb(0 0 0 / 5%);
  }

  .desc-img {
    width: 100%;
    padding: 10px;
  }

  .img-bg {
    @include define-size(80px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    margin-right: 15px;
  }

  .num {
    color: $secondary;
    font-weight: $font-weight-bold;
    font-size: $font-size-md;
    position: absolute;
    left: 18px;
    top: 10px;
    opacity: .25;
    font-family: $font-hero-name;

    & + .img-bg {
      margin-left: 20px; 
    }
  }
} 

$target-item-padding: 20px;
$target-item-radius: 10px;

.diagram-target {
  color: $text-color;

  .target {
    background-color: #eee;
    font-weight: $font-weight-bold;
    padding: $target-item-padding;
    border-radius: $target-item-radius;
    text-align: center;
    font-size: $font-size-lg;
  }

  .target-item {
    // background-color: #e1f0fb;
    background-color: #f2eeef;
    padding: $target-item-padding;
    font-weight: $font-weight-medium;
    border-radius: $target-item-radius;
    text-align: center;
    margin: .75rem 0;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .target-item-content {
    margin-top: 1rem;
    font-weight: $font-weight-regular;
    text-align: left;
    background-color: #fff;
    padding: 15px $target-item-padding;
    border-radius: $target-item-radius - 5;
    height: 100%;
  }
}

.target-list {
  list-style: none;

      li {
        position: relative;
        padding-left: 14px; 
        line-height: $line-height-sm;
        margin-bottom: 10px;
        word-break: keep-all;

        &::before {
          @include pseudo-element;
          @include define-size(8px);
          border-radius: 100%;
          border: 2px solid $secondary;
          position: absolute;
          left: 0px;
          top: 8px;
        }
      }

}

.circle-graphic {
  @include define-size(80px);
  background-color: $white;
  margin: 0 auto 10px;
  border-radius: 100%;

  img {
    padding: 15px;
    width: 100%;
  }
}

.desc-circle {
  @include define-size(110px);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $border-color;
  box-shadow:  2px 3px 5px rgb(0 0 0 / 5%);
  margin-bottom: 10px;

  .desc-img {
    margin: 0!important;
  }
}

// -- diagram connection
.diagram-connection {
  .center-cir {
    @include define-size(220px);
    border-radius: 100%;
    border: 20px solid $primary;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-hero-name;
    font-weight: $font-weight-bold;
    font-size: $font-size-lg;
    color: $primary;
  }

  &.large {
    height: 500px;
    width: calc(100% - 320px);

    .center-cir {
      @include define-size(240px);
    }

    .edge-cir {
      @include define-size(240px);
      border: 1px dotted #eee;
    }
  }
}

.diagram-connection {
  height: 430px;
  width: calc(100% - 400px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &.circle-7 {
    height: 550px;
    width: calc(100% - 400px);

    .edge-cir {@include define-size(145px);}
    .edge-cir-inner {@include define-size(120px);}
  }
}

.connection-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .cir:first-child {
    position: absolute;
    @include define-size(350px);
    border-radius: 100%;
    border: 1px solid rgba($primary, .1);
    z-index: -1;
  }
  .cir:nth-child(2) {
    position: absolute;
    @include define-size(280px);
    border-radius: 100%;
    border: 1px solid rgba($primary, .2);
    z-index: -1;
  }
}

.edge-cir {
  position: absolute;
  @include define-size(190px);
  border-radius: 100%;
  box-shadow: 5px 5px 10px 0 rgb(0 0 0 / 7%);
  border-radius: 100%;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-size-base;
  font-weight: $font-weight-medium;

  &.cir-1{ top: 0; left: 0; } 
  &.cir-2{ top: 0; right: 0; } 
  &.cir-3{ bottom: 0;  left: 0;} 
  &.cir-4{ bottom: 0; right: 0; } 

  &.cir7-1{ top: 0; left: 50%; transform: translateX(-50%);} 
  &.cir7-2{ top: 12.5%; left: 80px;} 
  &.cir7-3{ top: 12.5%; right: 80px; } 
  &.cir7-4{ top: 45%; left: 40px; } 
  &.cir7-5{ top: 45%; right: 40px; } 
  &.cir7-6{ bottom: 5px; left: 160px; } 
  &.cir7-7{ bottom: 5px; right: 160px; } 
}

.edge-cir-inner {
  @include define-size(150px);
  box-shadow: -2px -2px 6px 0 rgb(0 0 0 / 5%);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $primary;
}

.side-arrow {
  position: absolute;
  bottom: 50px;
  border: 1px solid #ccc;

  &::before {
    content: attr(data-name);
    font-family: $font-hero-name;
    width: 35px;
    position: absolute;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
    color: $danger;
    font-size: $font-size-sm;
  }

  &::after {
    @include pseudo-element;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent #ccc;
    transform: rotate(0deg);
    position: absolute;
    right: 0;
    top: -5px;
  }

  &.step1 {left: -25px;
    height: 200px;
    width: 25px;
    border-right: 0;}
  &.step2 {
    left: -25px;
    height: 140px;
    width: 25px;
    border-right: 0;
  }
  &.step-r1 {right: -25px;
    height: 140px;
    width: 25px;
    border-left: 0;

    &::after {
      right: auto;
      left: 0;
      border-width: 5px 10px 5px 0;
      border-color: transparent #ccc transparent transparent ;
    }
    &::before {
      left: auto; 
      right: -40px;
    }
  }
  &.step-r3 {right: -70px;
    height: 470px;
    width: 70px;
    border-left: 0;
    &::after {
      right: auto;
      left: 0;
      border-width: 5px 10px 5px 0;
      border-color: transparent #ccc transparent transparent ;
    }
    &::before {
      left: 70px;
      color: $subtext-color;
    }
  }
}