//
// form의 기본 스타일
//

.form-label {
	font-size: $font-size-sm;
	margin-bottom: 0;
	color: $subtext-color;
}

.form-control {
	&.form-solid { 
		border-color: $border-color;
		// background-color: #f7f7f5;	
	} 
}
 
.form-name {
	font-size: $font-size-base;
	color: $form-name-color;
	font-weight: $font-weight-medium;
}

//
// form의 label이 인터랙티브하게 동작하는 form 스타일입니다.
//
.form-animate {
    position: relative;
	margin-top: 1rem;

	// form-name은 form-animation의 label에 해당합니다.
    .form-name {
        color: $form-name-color;
        position: absolute;
        pointer-events: none;
        left: 1rem;
        top: .45rem;
        transition: $transition-base;
	}
	
    .form-control {
		//
		// form-solid의 animate되는 스타일을 정의합니다.
		&.form-solid {
			padding: 1.5rem .75rem .3rem;

			& ~ .form-name {
				top: $font-size-sm;
			}

			&:autofill ~ .form-name {
				// background-color: #e8f0fe!important;
			}

			&:read-only ~ .form-name {
				// background-color: #fdfdfd!important;
			}

			// form-animate active 상태
			&:focus ~ .form-name,
			&[required]:valid ~ .form-name, 
			&:read-only ~ .form-name {
				top: 3px;
				left: 6px;
				font-size: 12px;
				padding: 0 .375rem 0;
				// background-color: #f7f7f5;
				color: $form-name-color;
				right: 20px;
				line-height: 2em;
			}

			&[value]:not([value=""]) ~ .form-name {
				top: 3px;
				left: 6px;
				font-size: 12px;
				padding: 0 .375rem 0;
				// background-color: #f7f7f5;
				color: $form-name-color;
				right: 20px;
				line-height: 2em;
			} 

		}

		// form-animate의 form-control이 focus된 경우 outline을 없앱니다.
		&:focus {
			outline: none;
		}
	}
}
  
.form-search {
	position: relative;
	height: 48px;
	min-width: 276px;

	.form-control {
		border-radius: 0;
		border: 1px solid $form-border-color;
		padding-right: 50px;
	}

	.btn-search {
		@include define-size(50px, 48px);
		background-size: 25px;
		position: absolute;
		right: 0; top: 0;
		border-radius: 0;
		display: flex;
		align-items: center;
		justify-content: center;

		@include hover-focus-active {
			box-shadow: none;

		}
	}

}

.form-check {
	margin-bottom: 0;
}

.form-check-label {
	white-space: nowrap;
	color: $subtext-color;
}

.form-animate-select {
	border-radius: 0;
	padding: 1.5rem .75rem .3rem;

	& ~ .form-name {
		top: 3px;
		left: 6px;
		font-size: 12px;
		padding: 0 .375rem 0;
		// background-color: #f7f7f5;
		color: $form-name-color;
		right: 20px;
		line-height: 2em;
	}
}

hr.divider {
	background-color: $border-color;
	height: 1px;
	border: 0;
	margin: 30px 0;
}

#chooseFile {
    visibility: hidden;
	position: absolute;
	left: -9999999px;
}


.file-input {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $border-color;
	padding: 5px;
}

#fileName {
    margin-left: 5px;
}

.form-num {
	font-family: $font-hero-name;
}