
.hero {
    // background-color: $mist;
    // height: $hero-height;
    padding: 80px 0 0;

    &.no-image {
        background-color: transparent;
        overflow: visible;

        .hero-inner {
            &::after, &::before {
                display: none;
            }
        }
    }

    @include media-breakpoint-up(md) {
        padding: 60px 0 0;
    }

}

.hero-inner {
    @include define-size (100%);
    justify-content: space-between;

    &::before {
        @include pseudo-element();
        @include define-size(80px);
        background-image: url("/resources/asset/images/hero_bg_1.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: -30px;
        left: -50px;
        opacity: .75;
        display: none;
    }

    &::after {
        @include pseudo-element();
        @include define-size(300px, 260px);
        background-image: url("/resources/asset/images/hero_bg_3.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: -40px;
        right: -190px;
        opacity: .75;
        display: none;
        z-index: -1;
    }

    @include media-breakpoint-up(md) {
        display: flex;
        align-items: center; 

        &::before, &::after {
            display: block;
        }
    }
}

.hero-title {
    font-family: $font-hero-name;
    position: relative;
    line-height: $line-height-sm;
    margin: 0;
    display: inline-block;
    font-size: $font-size-xl;

    &::after {
        @include pseudo-element;
        @include define-size(5px);
        background-color: $primary;
        border-radius: 100%;
        position: absolute;
        right: -8px;
        top: 4px;
    }

    @include media-breakpoint-up(md) {
        font-size: 2.5rem;

        &::after {
            @include define-size(8px);
            right: -12px;
        top: 4px;
        }
    }
}


.hero-subtitle {
    padding-left: 25px;
    margin: 10px 16px 8px;
    font-family: 'mice';
    line-height: 1.5em;
}