// @ description: setting for icons

.icon {
	display: inline-block;
}

.icon-lock {
	@include define-size(25px);
	position: relative;
	top: -2px;
}

.icon-pin {
    @include define-size(30px);
	position: relative;
	left: -3px;
}

.icon-speaker {
	@include define-size(18px);
	background-image: url('/resources/asset/images/icon_notice.png');
	background-size: contain;
	background-position: center;
	vertical-align: middle;
}

.btn-kakao {
	background-color: #f6e904!important;
	overflow: hidden;
}

.icon-sns-kakao {
	@include define-size(28px, 48px);
	background-image: url('/resources/asset/images/icon_sns_kakao.png');
	background-size: contain;
	background-position: center 8px;
	vertical-align: middle;
	background-repeat: no-repeat;
}

.btn-facebook {
	background-color: #fff!important;
	overflow: hidden;
}

.icon-sns-facebook {
	@include define-size(48px);
	background-image: url('/resources/asset/images/icon_sns_facebook.png');
	background-size: contain;
	background-position: center;
	vertical-align: middle;
	background-repeat: no-repeat;
}

.btn-twitter {
	background-color: #1bb7eb!important;
	overflow: hidden;
}

.icon-sns-twitter {
	@include define-size(42px);
	background-image: url('/resources/asset/images/icon_sns_twitter.png');
	background-size: contain;
	background-position: center 2px;
	vertical-align: middle;
	background-repeat: no-repeat;
}

.btn-band {
	background-color: #1fdb29!important;
	overflow: hidden;
}

.icon-sns-band {
	@include define-size(42px);
	background-image: url('/resources/asset/images/icon_sns_band.png');
	background-size: contain;
	background-position: center 2px;
	vertical-align: middle;
	background-repeat: no-repeat;
}
