/**
 * list.scss
 *
 * date: 2019.07.29
 * author: danny
 * update: 2022.02.14 danny
 * description: ul, li, dl 등에 붙어서 사용하는 리스트 스타일에 대한 속성이 정의 되어 있습니다.
 *
 */


ol > li > ol > li {
	list-style-type: lower-roman;
} 

ol > li > ol > li > ol > li {
	list-style-type: lower-alpha;
} 

ol {
	&.marker-dark {
		& > li {
			&::marker {
				color: $text-color;
			}
		}
	}
}

/*------------------------------------*\
  list-styled
  bullet이 있는 list style을 위한 정의입니다.
\*------------------------------------*/
.list-styled {

	li {
		margin-left: .25rem;
		position: relative;

		&:before {
			@include pseudo-element;
			@include define-size(2px);
			position: absolute;
			border-radius: 50%;
			left: -.5rem;
			top: .75rem;
		}
	}
}



/*------------------------------------*\
  list-unstyled
  bullet이 없는 list style을 위한 정의입니다.
\*------------------------------------*/
.list-unstyled {
	margin: 0;

	li {
		line-height: $line-height-sm;
		margin-bottom: .75rem;

		&:last-child {
			margin-bottom: 0;
		}

		@include media-breakpoint-up(md) {
			margin-bottom: 1rem;
		}
	}
}

/*------------------------------------*\
  list-inline - bootstrap override
  inline 스타일의 리스트를 위한 정의입니다.
  display속성이 inline-block으로 정렬되어
  리스트의 높낮이가 맞지 않은 현상 발생. 오버라이드 합니다.
\*------------------------------------*/
.list-inline {
	.list-inline-item{
		display: block;
	}
	
	@include media-breakpoint-up(md) {
		display: flex;
		gap: 15px;

		.list-inline-item {
			position: relative;

			&:not(:last-child)::after {
				@include pseudo-element;
				@include define-size(1px, 11px);
				background-color: rgba($lighttext-color, .75);
				position: absolute;
				top: 8px;
				right: -12px;
			}
		}
	}
	
}

/*------------------------------------*\
  list-header
  list의 상단에서 list정보를 나타내는 그룹
  list 갯수 혹은 검색창을 표시합니다.
\*------------------------------------*/
.list-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 30px;
	font-size: $font-size-md;
	
	@include media-breakpoint-up(md) {
		margin-top: 0;
	}

}

/*------------------------------------*\
  list-footer
  list의 하단에서 list정보를 나타내는 그룹
  pagination 혹은 버튼을 표시합니다.
\*------------------------------------*/
.list-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;

	&.pagination-small {
		justify-content: end;
	}
}


/*------------------------------------*\
  list-styled
  bullet이 있는 list style을 위한 정의입니다.
\*------------------------------------*/
.list-bullet {
	text-align: start;
	
	@include list-unstyled;
	& > li {
		padding-left: 8px;
		position: relative;
		margin-top: 5px;
		line-height: $line-height-md;

		&:before {
			@include pseudo-element;
			@include define-size(2px);
			position: absolute;
			background-color: $grey;
			border-radius: 50%;
			left: 1px;
			top: 50%;
			margin-top: -2px;
		}
	}

	&.bullet-top {
		& > li {
			// margin-top: 0;
			// margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}

			&:before {
				top: 13px;
			}
		}
	}

	&.bullet-lg {
		& > li {
			padding-left: 10px;
			&:before {
				@include define-size(3px);
			}
		}
	}
}


/*------------------------------------*\
  list-row
\*------------------------------------*/
.list-row {
	list-style: none;
	margin-bottom: 0px;
	border-top: 1px solid $gray-600;

	& > li {
		padding: 15px;
		border-bottom: 1px solid $border-color;
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		flex-wrap: wrap;

		@include media-breakpoint-up(lg) {
			flex-direction: row;
			flex-wrap: nowrap;
		}
		
		.title {
			font-size: $font-size-lg;
			margin-bottom: 5px;
			line-height: $line-height-sm;
			display: inline-block;

			@include media-breakpoint-up(md) {
				font-size: $font-size-lg;
				margin-bottom: 7px;
				@include ellipsis((1*$line-height-md), 1);
			}

			@include hover-focus-active {
				color: $primary;
			}
		}

		.list-num {
			flex: 0 0 $list-row-number-width;
			padding-right: 1rem;
			color: $lighttext-color;
			font-size: $font-size-sm;
		}

		.list-text {
			width: 100%;
			padding-right: 1rem;

			@include hover-focus {
				color: $primary;

			}
		}

		&.primary {
			background-color: #fdf7f0;
		}
	}
}

.list-info {
	color: $subtext-color;
	display: flex;
	align-items: flex-start;
	list-style: none;
	line-height: $line-height-lg;
	margin: 0;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
 
	& > li {
		position: relative;
		margin-right: 20px;

		&:not(:last-child)::after {
			@include pseudo-element;
			@include define-size(2px, 2px);
			border-radius: 50%;
			background-color: $subtext-color;
			position: absolute;
			top: 50%;
			margin-top: -1px;
			right: -11px;
		}

	}

}


/*------------------------------------*\
  list-attach
\*------------------------------------*/
.attach-box {
	background-color: $mist;
	padding: 15px;
	margin-bottom: 30px;
}

.icon-clip {width: 18px;margin-right: 5px;}

.list-attach {
	margin-bottom: 0!important;
	padding: 0!important;

	& > li {
		display: flex;
		align-items: center;
		gap: 2px;
		position: relative;

		&:not(:last-child){
			border-bottom: 1px dashed $border-color;
			margin-bottom: 7px;
			padding-bottom: 7px;
		}

		& > a {
			display: block;
			margin-right: auto;
			color: $subtext-color;
		}

		.icon-download {
			display: none;
			@include define-size(30px);
			position: absolute;
			right: 0;
			top: 0;
		}

		@include media-breakpoint-down(sm) {
			padding: 0;
		}

		@include hover-focus-active {
			color: $primary;

			.icon-download {
				display: block;
				@include define-size(30px);
			}

			& > a, span {
				color: $primary!important;
				cursor: pointer;
			}

			.btn-delete {
				display: flex;
			}
		}

		.btn-delete {
			display: none;
			width: 25px;
			height: 25px;
			align-items: center;
			justify-content: center;

			.material-icons {font-size: 18px;}
		}

	}
}


/*------------------------------------*\
  list-border-top
\*------------------------------------*/
.list-border-top {
	& > li {
		list-style: none;
		font-size: $font-size-base;
		line-height: $line-height-md;
		text-align: center;
		color: $text-color;
		border-bottom: 1px solid #eee;

		&:first-child {
			border-top: 1px dotted $gray-500;
		}

		.item {
			padding: 20px 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.desc-img {
				width: 45px;
				margin-bottom: 10px;
			}
		}
	}
}