// @ description: setting for logo

.navbar-brand {
    display: block;
    height: 40px;
    aspect-ratio: 15/5;
    background-image: url("/resources/asset/images/logo_mob.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;

    @include media-breakpoint-up(lg) {
        aspect-ratio: 55/9;
        height: 50px;
        background-image: url("/resources/asset/images/logo.png");
    }
}