// @ description: setting for scrollbar

// 스크롤바 스타일이 정의 되어있습니다.
//
.scrollbar-transparent {

	&::-webkit-scrollbar {
		width: 5px;
		background-color: transparent;
		visibility: hidden;
	}
	
	&::-webkit-scrollbar-track {
		-webkit-box-shadow: none;
		border-radius: 10px;
		background-color: $bg-color;
		visibility: hidden;
	}
	
	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		-webkit-box-shadow: none;
		background-color: darken($border-color, 10%);
		visibility: hidden;
	}

	@include hover-focus {
		&::-webkit-scrollbar,
		&::-webkit-scrollbar-track,
		&::-webkit-scrollbar-thumb {
			visibility: visible;
		}
	}	
}

