// @ description: setting for thumb
.thumb-group {
	border-radius: 2rem;
	background-color: rgba($secondary, .2);
	color:$secondary;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: $font-size-base;
	
	&.clickable {
		@include hover-focus {
			background-color: rgba($secondary, .2);
			box-shadow: $form-control-boxshadow-size rgba($secondary, .4);
		}
	}

	&.size-sm {
		height: 2.25rem;
		width: 2.75rem;
		margin: 0 .25rem;

	}
}