// @ description: setting for tooltip

.tooltip {
	margin-top: .5rem;
}
.tooltip-inner {
	//background-color: $white;
	//color: $dark;
	//box-shadow: $box-shadow-default-size $box-shadow-default-color;
	font-size: $font-size-sm;
	text-align: left;
	//padding: $tooltip-padding;
}
