/**
 * mixin > _fonts.scss
 *
 * date: 2019.07.31
 * author: danny
 * update: 2019.07.31 danny - 파일 분리
 * description: font에 관련한 mixin이 정의된 파일입니다.
 *
 */


/*------------------------------------*\
  font weight mixin
\*------------------------------------*/
@mixin font-weight($weight) {
	font-weight: $weight!important;
}


/*------------------------------------*\
  font family mixin
\*------------------------------------*/
@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

