<div class="footer">
    <div class="logo">
        <a href="/" title="minpoohtravel">
            <div class="name">MINPOOH</div>
            <div class="project">TRAVEL</div>
        </a>
    </div>
    <div class="bg"></div>
    <div class="contact">
        <div class="text">
            <span class="material-icons">info_outline</span>
            <span class="name">이민정 | Minpooh</span>
        </div>
        <div class="text">
            <span class="material-icons">call</span>
            <span class="phone">+82 10-8008-4880</span>
        </div>
        <div class="text">
            <span class="material-icons">mail_outline</span>
            <span class="email">minjoung1510@gmail.com</span>
        </div>
    </div>
    <div class="copyright">
        COPYRIGHT RESERVED. PHOTO & DESIGN BY MINPOOH
    </div>
</div>