<div class="top-box">
    <div class="header">
        <div class="header-wrap">
            <div class="nav">
                <ul>
                    <li class="menu">
                        <a href="/travel" class="btn-menu" title="travel">TRAVEL</a>
                    </li>
                    <li class="menu">
                        <a href="/food" class="btn-menu" title="food">FOOD</a>
                    </li>
                    <li class="menu">
                        <a href="/experience" class="btn-menu" title="experience">EXPERIENCE</a>
                    </li>
                </ul>
            </div>
            <div class="logo">
                <a href="/" title="minpoohtravel">
                    <div class="name">MINPOOH</div>
                    <div class="project">TRAVEL</div>
                </a>
            </div>
            <div class="nav">
                <ul>
                    <li class="menu">
                        <a href="/photospot" class="btn-menu" title="photospot">SPECIAL PHOTOSPOT</a>
                    </li>
                    <li class="menu">
                        <a href="/mystory" class="btn-menu" title="my story">MY STORY</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>