// @ description: setting section
// 한 페이지 내부의 필수 요소들에 대한 정의 입니다.

.block {
    padding: 0 0 30px;
    @include media-breakpoint-up(lg) {
        padding: 20px 0 60px;
    }

    &.block-row {
        .block-title {
            @include media-breakpoint-up(xl) {
                width: 310px;
            }
        }
        @include media-breakpoint-up(xl) {
            display: flex;
        }
    }

    &.block-colored {
        background-color: rgba($bg-color, .75);
    }
}

.col-md-col {

    @include media-breakpoint-up(md){
        flex: 1 1 0%
    }
}

.block-last {
    padding-bottom: 60px;

    @include media-breakpoint-up(lg) {
        padding-bottom: 140px;
    }
}

.section {
    margin: 40px 0 60px;
}

.block-content {
}

.block-bg {
    background-color: #fdf8f0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(255,255,255,.8);
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(180deg, white 0%, rgba(255, 255, 255, 0) 100%);
    }
}
 
.block-title {
    font-family: $font-hero-name;
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
    margin-bottom: 20px;
    padding-top: 10px;

    .colored {
        color: $primary;
        position: relative;

        &::after {
            content: '';
            width: 8px;
            height: 8px;
            border-radius: 100%;
            display: block;
            position: absolute;
            right: -13px;
            top: 0;
            background-color: $primary;
        }
    }

    &.block-title-sm {
        font-size: $font-size-base;
        margin-bottom: 0px;
        padding-top: 0;

        .colored {
            &::after {
                @include define-size(6px);
                right: -10px;
                top: 2px;
            }
        }
    }
}

 