// @ description: setting wrapper
// 헤더/사이드바 이외의 메인 컨텐츠를 감싸고 있는 영역에 대한 정의 입니다.

// body안의 컨텐츠를 감싸는 영역입니다.
.wrapper {
    min-height: calc(100vh - 270px);
    position: relative;
    box-sizing: border-box;
}

.main { 
    padding-top: $header-height-mob;
    min-height: calc(100vh - ($header-height + $footer-height + 126px));

    @include media-breakpoint-up(xl) {
        padding-top: 30px;
        padding-bottom: 80px;
    }
}

.col-content {
    ol {
        margin-bottom: 1.5rem;
        line-height: $line-height-md;

        li {
            margin-bottom: 20px;
            color: #666;

            ol li {
                margin-top: .25rem;
                margin-bottom: .25rem;
                font-size: $font-size-base;
                color: #888;
            }

            table {
                margin-top: .5rem;
                margin-bottom: 1.5rem;
            }
        }
    }
}

.content {
    position: relative;
    padding: 20px 0 30px;
}

.container-article {
    max-width: 1020px;
    margin-top: 50px;
} 

.col-content {
    display: flex;
    margin-bottom: 80px;
    line-height: $line-height-xl;

    .col-title {
        font-weight: $font-weight-bold;
        flex: 0 0 200px;
        font-size: $font-size-md-5;
        line-height: 1.5em;

        &.col-sidebar {
            flex: 0 0 270px;
        }
    }   

    .col-body {
        color: $subtext-color;
        width: 100%;
        font-size: $font-size-md;
    }

    .col-body-title {
        font-size: $font-size-lg;
        font-weight: $font-weight-medium;
        color: $text-color;
        margin-bottom: 10px;
    }

    table {
        margin-bottom: 0;
    }
}

.col-body-content {
    margin-bottom: 40px;

    &:last-child {
        margin-bottom: 0;
    }
}

.solid-box {
	background-color: $mist;
	padding: 1rem 1.5rem;
}

.info-box {
    background-color: $mist;
	padding: 1rem;
    display: flex;
    align-items: center;
    font-size: $font-size-base;
    background-image: url("/resources/asset/images/icon/icon_info.svg");
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: right bottom -60px;
}

.col-body-section:not(:first-child) {
    margin-top: 40px;
    padding-top: 40px;
    line-height: $line-height-md;
    border-top: 1px dotted $border-color;
}

.col-section-title {
    font-size: $font-size-md-5;
    margin-bottom: 2rem;
    font-weight: $font-weight-bold;
    color: $text-color;
    display: flex;
    align-items: center;
    position: relative;
    display: inline-block;

}