.main-image {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

.section {
    height: 100vh;
    background-color: $light;
}