.main-image {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}
.main-section {
    min-height: 100vh;
    padding-top: 100px;
    .main-section-desc{
        margin: 0 auto;
        text-align: center;
        padding-top: 1rem;
    }
    .main-section-title {
        height: 100%;
        font-family: $font-logo-name;
        font-weight: $font-weight-regular;
        font-size: 50px;
        margin-bottom: 1.5rem;
    }
    .main-section-text {
        font-size: $font-size-md;
        line-height: $line-height-md;
        color: #565857;
    }
}
.color-bg {
    background-color: #FBF9F6;
}
.main-section-col {
    padding-top: 200px;
    padding-left: 10%;

    .main-section-desc {
        margin: 0;
        text-align: left;
        .main-section-title {
            margin-bottom: 50px;
        }
        @include media-breakpoint-up(lg) {
            padding-right: 20%;
        }
    }
}

.colSwiper {
    width: 100%;
    height: 500px;

    .swiper-slide {
        width: 370px!important;
        height: 100%;

        a {
            display: block;
        }
    }
    
    .swiper-slide-image {
        width: 100%;
        height: 270px;
        background-color: #fff;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        position: relative;

        .date {
            color: $white;
            font-weight: $font-weight-light;
            position: absolute;
            bottom: 0.5rem;
            right: 1rem;
        }
    }
    
    .swiper-slide-text {
        margin-top: 30px;
        .country {
            display: block;
            font-family: $font-logo-name;
            font-size: 2rem;
            margin-bottom: 1.5rem;
        }
        .desc {
            color: rgba(#565857, .75);
            width: 100%;
            word-break: keep-all;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            line-clamp: 2;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            line-height: $line-height-md;
        }
    }
    
    .swiper-button-prev, .swiper-button-next {
        left: auto;
        top: auto;
        bottom: 0;
        background-size: cover;
        &::after {
            display:none;
        }
    }
    .swiper-button-prev {
        right: 60px;
        background-image: url("/asset/image/icon_arrow_left.png");
        background-position-x: left;
        
    }
    .swiper-button-next {
        right: 20px;
        background-image: url("/asset/image/icon_arrow_right.png");
        background-position-x: right;
        
    }
    .swiper-scrollbar {
        height: 1px!important;
        
    }
}


.food-section-slide {
    margin-top: 100px;
    padding-bottom: 20vh;
}

.randomsizeSwiper {
    width: 100%;
    height: 400px;
    
    .swiper-wrapper {
        transition-timing-function: linear;
    }
    .swiper-slide {
        width: 300px!important;
        height: 100%;
        display: flex;
        align-items: center;
    }
    
    .swiper-slide-image {
        width: 100%;
        height: 100%;
        border-radius: 50vw 50vw 0 0;
        overflow: hidden;
        position: relative;
    }
    
}


.main-experience {
    padding-bottom: 20vh;
    ul {
        display: grid;
        grid-template-rows: repeat(5, 156px);
        gap: 0.5px;
        
        li {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            list-style-type: none;
            translate: none;
            rotate: none;
            scale: none;
            opacity: 1;
            transform: translate(0px, 0px);

            a {
                color: #FBF9F6;
                display: block;
                height: 100%;

                .text-1 {
                    position: absolute;
                    bottom: 1.5rem;
                    padding-left: 20px;
                    font-family: $font-logo-name;
                    font-size: 40px;
                    font-weight: 400;
                    line-height: 100%;
                    letter-spacing: -1.2px;
                    will-change: font-size;
                    transition: 0.2s font-size;
                }
                .text-2 {
                    display: none;
                    position: absolute;
                    bottom: 1.5rem;
                    padding-left: 20px;
                }
            }
        }
        li.bg-1 {
            background-image: url("/asset/image/infinitypool.jpeg");
        }
        li.bg-2 {
            background-image: url("/asset/image/cruise.jpeg");
        }
        li.bg-3 {
            background-image: url("/asset/image/barbecue.jpeg");
        }
        li.bg-4 {
            background-image: url("/asset/image/desert.jpeg");
        }
        li.bg-5 {
            background-image: url("/asset/image/wildpark.jpeg");
        }

    }

    
}

@media (min-width: 1024px) {

    

    .main-experience {
        ul {
            display: flex;
            height: 71vh;
            flex-flow: row nowrap;
            overflow: hidden;
            li {
                flex: 1;
                transition: flex 1300ms cubic-bezier(0.23, 1, 0.32, 1);
                will-change: flex;

            }
        }
    }

    .main-experience li:hover {
        flex: 0 1 30%;
    }

    .main-experience li:hover a .text-1 {
        font-size: 50px;
        letter-spacing: -2.16px;
        bottom: 3rem;
    }

    .main-experience li:hover a .text-2 {
        display: block;
    }
}


@keyframes blink {
    from { opacity: 1.0; }
    to   { opacity: 0.0; }
}

.photospot-section-slide {
    padding-bottom: 20vh;
    .cardSwiper {
        width: 700px;
        height: 450px;
        margin-top: 50px;
        margin-bottom: 20px;
        .swiper-slide {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 22px;
            font-weight: bold;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    .icon-drag-drop {
        width: 30px;
        height: 30px;
        margin: 0 auto;
        background-image: url("/asset/image/icon_drag_drop.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        animation: blink 1s infinite;
    }
    .drag-icon-box {
        color: #9e9e9e;
        font-size: 10px;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .main-section {
        min-height: 80vh;
        padding-top: 72px;

        .main-section-title {
            font-size: 34px;
        }
        .main-section-text {
            font-size: 1rem;
            line-height: 1.5rem;
            padding: 0 2rem;
        }
    }
    .main-section-col {
        padding-top: 80px;
    
        .main-section-desc {
            .main-section-title {
                margin-bottom: 30px;
            }
        }
    }
    .travel-section-slide {
        margin-top: 3rem;
        margin-bottom: 50px;
    }
    .colSwiper {
        height: 475px;
        .swiper-slide {
            width: 90%!important;
            height: 100%;
    
            a {
                display: block;
            }
        }
    }
    .food-section-slide {
        padding-bottom: 4rem;
    }

    .main-experience {
        padding-bottom: 100px;
    }
    
    .photospot-section-slide {
        padding-bottom: 4rem;
        .cardSwiper {
            width: 80%;
            height: 55vw;
        }
    }
    
}


