/**
 * page > _mypage.scss
 *
 * date: 2022.12.09
 * author: danny
 * description: 마이페이지에서 사용되는 스타일이 정의된 파일입니다.
 *
 */

.view-container-mypage {
  padding: 0;
}

.padding-lg-tab {
  max-width: 650px;
  margin: 20px auto 30px;
} 

.btn-wrapper {
  display: flex;
  gap: 7px;
  margin-top: 30px;
  @include media-breakpoint-down(md) {
    flex-wrap: wrap;

    .btn {
      width: 100%;
    }

    .d-flex.gap-2 {
      width: 100%;
    }
  }
}
