/**
 * page > _view.scss
 *
 * date: 2022.11.30
 * author: danny
 * description: 뷰페이지에서 사용되는 스타일이 정의된 파일입니다.
 *
 */

/*------------------------------------*\
  view
  view 화면 레이아웃을 위한 컴퍼넌트
\*------------------------------------*/

.view-header {
  margin-bottom: 10px;
  border-bottom: 2px solid $gray-600;

  @include media-breakpoint-up(md) {
    margin-bottom: 25px;
    padding: 0 10px 20px;
  }
}
.view-title {
  margin: 0;
  line-height: $line-height-md;
  font-size: $font-size-xl;
  font-weight: $font-weight-medium;
  display: flex;
  line-height: $line-height-sm;
  margin-top: 10px;
  font-family: $font-hero-name;

  @include media-breakpoint-up(md) {
    font-size: $font-size-xl; 
  }
}

.view-info-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.view-body {
  line-height: $line-height-lg;
  padding: 0 10px;

  ul, ol {
    padding-left: 20px;
    margin-block-end: 1em;
  }

  p {margin: 0}
  a{color:#4099ff}

  img {max-width: 100%;}
}


.view-footer {
  margin-top: 30px;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  border-top: $border-default;
}
