<!DOCTYPE html>
<html lang="en">
    <head th:replace="~{common/head :: headFragment}"></head>
    <body>
        <th:block th:replace="~{layout/header :: headerFragment}"></th:block>
        <div class="food-wrap">
            <div class="container pt-5">
                <div class="row pt-5">
                    <div class="col-md-4 mb-5">
                        <a href="/food/view">
                            <div class="food-image" style="background-image: url('/asset/image/food1.jpeg');"></div>
                        </a>
                        <a href="/food/view">
                            <ul class="food-info mt-3">
                                <li class="name p-0">
                                    <span class="name-badge">미슐랭 2025</span>
                                    <p class="mt-2 font-xl">툭툭누들타이</p>
                                </li>
                                <li class="info">
                                    <p class="p-0">서울 마포구 성미산로 161-8 2층</p>
                                </li>
                            </ul>
                        </a>
                    </div>
                    <div class="col-md-4 mb-5 border-start">
                        <a href="/food/view">
                            <div class="food-image" style="background-image: url('/asset/image/food.jpeg');"></div>
                        </a>
                        <a href="/food/view">
                            <ul class="food-info mt-3">
                                <li class="name p-0">
                                    <span class="name-badge">우메다 웨이팅맛집</span>
                                    <p class="mt-2 font-xl">이즈모 루쿠아</p>
                                </li>
                                <li class="info">
                                    <p class="p-0">Umeda, 3 Chome−1−3 ルクア B2F バルチカ</p>
                                </li>
                            </ul>
                        </a>
                    </div>
                    <div class="col-md-4 mb-5 border-start">
                        <a href="/food/view">
                            <div class="food-image" style="background-image: url('/asset/image/food3.jpeg');"></div>
                        </a>
                        <a href="/food/view">
                            <ul class="food-info mt-3">
                                <li class="name p-0">
                                    <span class="name-badge">360도 회전바</span>
                                    <p class="mt-2 font-xl">O Bar and Dining</p>
                                </li>
                                <li class="info">
                                    <p class="p-0">Australia Square, level 47/264 George St, Sydney</p>
                                </li>
                            </ul>
                        </a>
                    </div>
                </div>
                <div class="row pt-5">
                    <div class="col-md-4 mb-5">
                        <a href="/food/view">
                            <div class="food-image" style="background-image: url('/asset/image/food2.jpeg');"></div>
                        </a>
                        <a href="/food/view">
                            <ul class="food-info mt-3">
                                <li class="name p-0">
                                    <span class="name-badge">예약필수 맛집</span>
                                    <p class="mt-2 font-xl">6head</p>
                                </li>
                                <li class="info">
                                    <p class="p-0">Bay 10 & 11, Campbell's Stores 7-27 Circular Quay W, The Rocks</p>
                                </li>
                            </ul>
                        </a>
                    </div>
                    <div class="col-md-4 mb-5 border-start">
                        <a href="/food/view">
                            <div class="food-image" style="background-image: url('/asset/image/food4.jpg');"></div>
                        </a>
                        <a href="/food/view">
                            <ul class="food-info mt-3">
                                <li class="name p-0">
                                    <span class="name-badge">120년 전통찻집</span>
                                    <p class="mt-2 font-xl">홉 툰 티룸</p>
                                </li>
                                <li class="info">
                                    <p class="p-0">421 Bourke St, Melbourne VIC</p>
                                </li>
                            </ul>
                        </a>
                    </div>
                    <div class="col-md-4 mb-5 border-start">
                        <a href="/food/view">
                            <div class="food-image" style="background-image: url('/asset/image/food5.jpeg');"></div>
                        </a>
                        <a href="/food/view">
                            <ul class="food-info mt-3">
                                <li class="name p-0">
                                    <span class="name-badge">퀸 빅토리아 마켓</span>
                                    <p class="mt-2 font-xl">츄로키친</p>
                                </li>
                                <li class="info">
                                    <p class="p-0">Victoria Street Corner of Elizabeth Street, Melbourne</p>
                                </li>
                            </ul>
                        </a>
                    </div>
                </div>
                <div class="row pt-5">
                    <div class="col-md-4 mb-5">
                        <a href="/food/view">
                            <div class="food-image" style="background-image: url('/asset/image/food6.jpeg');"></div>
                        </a>
                        <a href="/food/view">
                            <ul class="food-info mt-3">
                                <li class="name p-0">
                                    <span class="name-badge">윈터마켓</span>
                                    <p class="mt-2 font-xl">램</p>
                                </li>
                                <li class="info">
                                    <p class="p-0">Victoria Street Corner of Elizabeth Street, Melbourne</p>
                                </li>
                            </ul>
                        </a>
                    </div>
                    <div class="col-md-4 mb-5 border-start">
                        <a href="/food/view">
                            <div class="food-image" style="background-image: url('/asset/image/food7.jpeg');"></div>
                        </a>
                        <a href="/food/view">
                            <ul class="food-info mt-3">
                                <li class="name p-0">
                                    <span class="name-badge">호주프랜차이즈</span>
                                    <p class="mt-2 font-xl">왈버거</p>
                                </li>
                                <li class="info">
                                    <p class="p-0">sydney, NSW 3000, Austraila</p>
                                </li>
                            </ul>
                        </a>
                    </div>
                    <div class="col-md-4 mb-5 border-start">
                        <a href="/food/view">
                            <div class="food-image" style="background-image: url('/asset/image/food8.jpeg');"></div>
                        </a>
                        <a href="/food/view">
                            <ul class="food-info mt-3">
                                <li class="name p-0">
                                    <span class="name-badge">스트릿푸드</span>
                                    <p class="mt-2 font-xl">No 7&8</p>
                                </li>
                                <li class="info">
                                    <p class="p-0">18 Raffles Quay, Singapore 048582</p>
                                </li>
                            </ul>
                        </a>
                    </div>
                </div>
            </div>
            <div class="food-pagination">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a href="#" class="page-link">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">1</span>
                    </li>
                    <li class="page-item">
                        <a href="#" class="page-link">2</a>
                    </li>
                    <li class="page-item">
                        <a href="#" class="page-link">3</a>
                    </li>
                    <li class="page-item">
                        <a href="#" class="page-link">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <th:block th:replace="~{layout/footer :: footerFragment}"></th:block>
        <th:block th:replace="~{common/script :: scriptFragment}"></th:block>
        <script>
            $('.header').addClass('white-header');
        </script>
    </body>
</html>