<!DOCTYPE html>
<html lang="en">
    <head>
        <th:block th:include="/common/head"></th:block>
    </head>
    <body>
        <th:block th:include="/layout/header"></th:block>
        <div class="main">
            <div class="main-image" style="background-image:url('/asset/image/wintertrain.jpg');"></div>
            <div class="section"></div>
        </div>
        <th:block th:include="/layout/footer"></th:block>

        <th:block th:include="/common/script"></th:block>
        <script>
            $(window).scroll(function(){
                var scroll = $(window).scrollTop();
                if(scroll > 80) {
                    $('.header').addClass('white-header');
                }else{
                    $('.header').removeClass('white-header');
                }
            });
        </script>
    </body>
</html>