<!DOCTYPE html>
<html lang="en">
    <head>
        <th:block th:include="/common/head"></th:block>
    </head>
    <body>
        <th:block th:include="/layout/header"></th:block>
        <div class="main">
            <div class="main-image" style="background-image:url('/asset/image/wintertrain.jpg');">
                <div class="main-content"></div>
            </div>
            <div class="main-section">
                <div class="row">
                    <div class="col-md-4">
                        <div class="main-section-desc">
                            <h3 class="main-section-title">
                                TRAVEL STORY
                            </h3>
                            <div class="main-section-text">
                                최근 여행지 소식을 확인해보세요.<br/>
                                여행을 준비하고 있다면 좋은 정보를 얻을 수 있고,<br/>
                                여러가지 에피소드도 함께 즐기실 수 있습니다.
                            </div>
                            <a href="#" class="d-flex align-middle mt-5">
                                MORE
                                <span class="material-icons ml-2">double_arrow</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="main-section-slide">
                            <div class="swiper colSwiper">
                                <div class="swiper-wrapper">
                                    <th:block th:each="num : ${#numbers.sequence(1,10)}">
                                        <div class="swiper-slide">
                                            <div class="swiper-slide-image" style="background-image:url('/asset/image/gardensbythebay.jpeg');">
                                                <div class="date">2023.02.10~2023.02.14</div>
                                            </div>
                                            <div class="swiper-slide-text">
                                                <span class="country">Singapore</span>
                                                <span class="desc">
                                                    최근 방영된 영화 '아바타'의 배경이 담겨있는 가든스 바이 더 베이에 다녀왔어요. 아바타를 보지 않으셨다면 가기전에 꼭 한번 들려보시는 것을 추천드려요!!
                                                </span>
                                            </div>
                                        </div>
                                    </th:block>
                                </div>
                                <div class="swiper-scrollbar"></div>
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <th:block th:include="/layout/footer"></th:block>

        <th:block th:include="/common/script"></th:block>
        <script>
            $(window).scroll(function(){
                var scroll = $(window).scrollTop();
                if(scroll > 80) {
                    $('.header').addClass('white-header');
                }else{
                    $('.header').removeClass('white-header');
                }
            });
        </script>
        <script>
            const swiper = new Swiper('.colSwiper', {
                loop: true,
                slidesPerView: 3,
                slidesPerGroup: 1,
                spaceBetween: 55,
                scrollbar: {
                    el: ".swiper-scrollbar",
                    dragSize: 100
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                autoplay: {
                    delay: 4000,
                    disableOnInteraction: false
                },
                speed: 600,
            });
        </script>
    </body>
</html>