<div class="exp-modal modal fade" id="experience1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <span class="material-icons">cancel_outline</span>
            </button>
            <div class="modal-body">
                <div class="modal-top">
                    <div class="modal-category">Desert</div>
                    <h5 class="modal-title">내생에 첫 별똥별, 우연히 사진에 담기다!</h5>
                    <div class="modal-date">2024.09.03 - 2024.09.05</div>
                    <div class="modal-tag">
                        <span class="tag">#사막</span>
                        <span class="tag">#캠핑</span>
                        <span class="tag">#낭만</span>
                        <span class="tag">#은하수</span>
                        <span class="tag">#별똥별</span>
                    </div>
                </div>
                <div class="modal-middle">
                    <div class="modal-text">
                        울룰루 사막에 혼자 여행을 갔을 때 였어요. 할 수 있는건 없고, 은하수가 예쁘게 보인다는 얘기만 듣고 무작정 나선 사막의 밤중.<br/>
                        양손에 든건 삼각대 하나랑 돗자리, 핸드폰. 그게 다였어요. 혼자 떠난 여행에서 낭만을 찾아보겠다는 마음으로 눈앞도 잘 안보이는<br/>
                        그 어둠속에서 걸어가는데 하나도 무섭지가 않더라구요. 지도에 보이는 전망대 하나 찍고 가는데 그냥 갑자기 하늘을 올려다보니<br/>
                        아 여기가 이미 명당이구나 할정도로 하늘 전체에 은하수가.. 정말 우주에 온 기분이었어요 ㅎㅎ 우주에 들어가면 이런 기분이겠다<br/>
                        딱 이런 느낌으로 하늘을 보면서 한바퀴를 도는데 시력이 안좋은게 한이었달까요. ㅎㅎㅎ 하여튼 바로 돗자리 깔고 그냥 앉아서<br/>
                        하늘을 올려다 보다가 사진으로 남겨야겠다! 바로 삼각대를 펼쳤어요 ㅎㅎㅎ 근데 이 삼각대가.. 좋지가 않아서 계속 쓰러지는거에요.<br/>
                        하 그때가 좀 절망적이긴 했어요 ㅎㅎ 그래도 어거지로 어찌저찌 세워가지고 찍고 찍고 했던 사진이 바로 이사진들 입니다. ㅎㅎ
                    </div>
                    <div class="modal-image">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="/asset/image/milkyway.jpeg"/>
                            </div>
                            <div class="col-md-6">
                                <img src="/asset/image/milkyway2.jpeg"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-text">
                        은하수도 찍고 앉아서 저도 찍고 한참 또 은하수를 들여다 보다가~~ 그렇게 한시간쯤 시간을 보냈던 것 같아요..ㅎㅎㅎ<br/>
                        정말 무섭지도 않았어요. 사람들이 지나가면서 후레쉬 터질때 보던가.. 뭐 어두워서 제가 보이지도 않았을거에요. 그러다보니까<br/>
                        사람이 저를 뭐 어떻게 할까 그런 걱정도 없었어요 ㅎㅎ 오히려 제가 사람들을 놀래켰을지도 모르겠어요ㅎㅎㅎ<br/>
                        아무튼 그러다가 대망의 별똥별을 보게 된거죠!!! 그게 어떻게 또 사진에 딱 담겼더라구요!!! 감격의 순간!!
                    </div>
                    <div class="modal-image">
                        <img src="/asset/image/desert.jpeg"/>
                    </div>
                    <div class="modal-text">
                        위에 별똥별이 보이시나요? ㅎㅎㅎ 정말 저는 살면서 처음본 유성이었는데요. 저는 진짜 하늘에서 불이 나는줄 알았잖아요.<br/>
                        그러다가 아 이게 별똥별이구나알고 정말 신기했어요 ㅎㅎㅎ 사실 그림으로 보거나 그러면 그냥 별이 미끄러지는 느낌이라서<br/>
                        빛이 나는 별똥별만 생각해봤었거든요. 근데 불이나면서 떨어지는데 정말 활활 타오르는? 그렇게 사라지더라구요. 정말 너무<br/>
                        두근대는 그때의 기억을 잊을 수가 없어요. 바로 소원을 빌던 그때. 아 정말 좋았는데 ㅎㅎ 무슨 소원을 빌었는지는 사실<br/>
                        잘 기억이 안나네요 ㅎㅎ 그치만 그때 제 인생의 첫 별똥별, 그건 잊혀지지가 않는답니다! 이런 특별한 날이 또 찾아올까요?
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>