<div class="location-modal modal fade" id="location1" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span class="material-icons">place</span>
                    주소
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="spot1location">Uluru-Kata Tjuta National Park, 무터줄루 NT 0872, 오스트레일리아</p>
            </div>
            <div class="modal-footer">
                <button onclick="copy()">
                    <span class="material-icons">content_copy</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="location-modal modal fade" id="location2" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span class="material-icons">place</span>
                    주소
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="spot1location">Observatory Park, Millers Point NSW 2000, 오스트레일리아</p>
            </div>
            <div class="modal-footer">
                <button onclick="copy()">
                    <span class="material-icons">content_copy</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="location-modal modal fade" id="location3" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span class="material-icons">place</span>
                    주소
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="spot1location">강원도 강릉시 송정해변</p>
            </div>
            <div class="modal-footer">
                <button onclick="copy()">
                    <span class="material-icons">content_copy</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="location-modal modal fade" id="location4" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span class="material-icons">place</span>
                    주소
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="spot1location">쇼가쿠 지 절, 일본 교토부 교토시 우쿄구, 사가텐류지타테이시초</p>
            </div>
            <div class="modal-footer">
                <button onclick="copy()">
                    <span class="material-icons">content_copy</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="location-modal modal fade" id="location5" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span class="material-icons">place</span>
                    주소
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="spot1location">일본 오사카부 오사카시, 도톤보리</p>
            </div>
            <div class="modal-footer">
                <button onclick="copy()">
                    <span class="material-icons">content_copy</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="location-modal modal fade" id="location6" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span class="material-icons">place</span>
                    주소
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="spot1location">전라북도 군산시 옥도면 무녀도리 10-15</p>
            </div>
            <div class="modal-footer">
                <button onclick="copy()">
                    <span class="material-icons">content_copy</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="location-modal modal fade" id="location7" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span class="material-icons">place</span>
                    주소
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="spot1location">37 North Boat Quay, 싱가포르</p>
            </div>
            <div class="modal-footer">
                <button onclick="copy()">
                    <span class="material-icons">content_copy</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="location-modal modal fade" id="location8" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span class="material-icons">place</span>
                    주소
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="spot1location">강원도 강릉시 사천해변</p>
            </div>
            <div class="modal-footer">
                <button onclick="copy()">
                    <span class="material-icons">content_copy</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="location-modal modal fade" id="location9" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span class="material-icons">place</span>
                    주소
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="spot1location">마리나 베이 샌즈 호텔, Garden Bay Bridge, 싱가포르</p>
            </div>
            <div class="modal-footer">
                <button onclick="copy()">
                    <span class="material-icons">content_copy</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="location-modal modal fade" id="location10" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span class="material-icons">place</span>
                    주소
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="spot1location">317 Yulara Dr, NT 0872, 오스트레일리아</p>
            </div>
            <div class="modal-footer">
                <button onclick="copy()">
                    <span class="material-icons">content_copy</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="location-modal modal fade" id="location11" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span class="material-icons">place</span>
                    주소
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="spot1location">53 Little Switzerland Dr, 웬트워스 폴스 NSW 2782, 오스트레일리아</p>
            </div>
            <div class="modal-footer">
                <button onclick="copy()">
                    <span class="material-icons">content_copy</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="location-modal modal fade" id="location12" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span class="material-icons">place</span>
                    주소
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="spot1location">일본 교토부 교토시 사가텐류지스스키노바바초</p>
            </div>
            <div class="modal-footer">
                <button onclick="copy()">
                    <span class="material-icons">content_copy</span>
                </button>
            </div>
        </div>
    </div>
</div>